[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask = "*"
flask-migrate = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
flask-cors = "*"
python-amazon-paapi = "*"

[dev-packages]

[requires]
python_version = "3.8.6"

[scripts]
start = "python run.py"
